.nav {
  z-index: 1;
  position: fixed;
  top: 50px;
  left: 10px;
  display: flex;
  flex-direction: column;
  background-color: yellow;
  padding: 10px 20px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 1),
    0 -6px 16px -6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.nav a {
  text-decoration: none;
  color: yellow;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.nav a:not(:last-child) {
  margin-bottom: 20px;
}
