.menusNav {
    border: dashed;
    width: 20%;
}
.centered {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    text-align: center;
    padding-bottom : 25px;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}