.choice:hover {
    background-color: yellowgreen;
}
.reload {
    height: 100px;
    padding: 10px;
}
.menus {
    position: absolute;
    outline: 1px dashed;
    width: 0px;
    height: 10px;
    overflow-x: hidden;
}

.menu {
    position: absolute;
    outline: 1px dashed;
    height: 100px;
    text-decoration: underline;
}

.btn {
}